#===============================================================================
# CoreOS - Reflector Demo
#===============================================================================
# This service unit-file is part of the CoreOS + Docker tutorial from PandaStrike.
# It loads a Docker container containing a super simple Node server.


[Unit]
Description=CoreOS Reflector Demo
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0

ExecStartPre=/usr/bin/echo "======================="
ExecStartPre=/usr/bin/echo "  New Service Started"
ExecStartPre=/usr/bin/echo "======================="

# Display this service's public IP address.
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/echo "Public IP Address: ${COREOS_PUBLIC_IPV4}"
ExecStartPre=/usr/bin/echo "Port: 80%i"


# Delete any Docker containers that share the name of the one we are about to start.
# Directives with "=-" are allowed to fail without consequence
ExecStartPre=-/usr/bin/docker kill reflector-%i
ExecStartPre=-/usr/bin/docker rm reflector-%i

# Pull the custom Docker container from the public registry.
ExecStartPre=/usr/bin/docker pull pandapup/coreos_reflector

# Deploy Reflector
ExecStart=/usr/bin/docker run --name reflector-%i -p 80%i:80 pandapup/coreos_reflector /bin/bash -c \
  "cd coreos-reflector && \
    git pull && git checkout edit-demo && npm install && \
    coffee reflector.coffee"
